/* Global */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;700&family=Montserrat:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

h1, h2, h3, h4, h5, h6, button {
    font-family: 'Cormorant', serif;
    color: #fff;
}

li, a, p, section,
.topBar__language__inner,
.heroCarousel__subheader
{
    font-family: 'Montserrat', sans-serif;
    color: #fff !important;
}

button, a {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    /*overflow-x: hidden;*/
}

:root {
    --gold: #B56437;
    --dark: #1E1E1E;
    --siteWidth: clamp(200px, 85vw, 2300px);
}

/* Hero section */
.heroCarousel {
    position: relative;
    max-height: 100vh;
    overflow: hidden;
}

.heroCarousel__content {
    width: var(--siteWidth);
    margin: auto;
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
}

.heroCarousel__buttons {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 2;
}

.heroCarousel__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroCarousel__button {
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid var(--gold);
    border-radius: 50%;
    margin-bottom: 15px;
    position: relative;
}

.heroCarousel__arrows {
    position: absolute;
    right: 0;
    bottom: 5%;
}

.heroCarousel__buttonArrow {
    background: transparent;
    border: none;
    outline: none;
    margin: 0 20px;
}

.heroCarousel__buttonArrow__arrow {
    width: 10px;
    height: auto;
}

.buttonArrow--next {
    transform: rotateY(180deg);
}

.heroCarousel__image {
    position: relative;
    width: 100%;
    height: 100vh;
}

.heroCarousel__image__img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(.5);
    transition: 1.5s all ease;
}

#hero2, #hero3 {
    opacity: 0;
}

.heroCarousel__button--selected {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background: var(--gold);
    border-radius: 50%;
}

/* Top bar */
.topBar {
    margin-top: 25px;
    width: 100%;
}

.topBar__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.topBar__facebookLink, .topBar__shop {
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.topBar__facebookLink__img {
    margin-right: 15px;
}

.topBar__logoLink__img {
    display: block;
    margin: 15px auto;
}

.topBar__bottom {
    position: relative;
}

.topBar__shop {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    opacity: .75;
    transition: .2s all;
}

.topBar__shop:hover {
    opacity: 1;
}

.topBar__shop__img {
    margin-left: 15px;
}

.topBar__language {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topBar__language__inner {
    margin-left: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.languageBtn {
    background: transparent;
    border: none;
    outline: none;
    margin-left: 10px;
}

.flag {
    margin-right: 10px;
}

/* Top menu */
.topMenu__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding-bottom: 15px;
}

.topMenu__item {
    position: relative;
}

.topMenu__link {
    text-transform: uppercase;
    color: #fff;
    transition: .3s all;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.topMenu__link:hover {
    color: var(--gold) !important;
}

.dropdownMenuIcon {
    margin-left: 15px;
    transform: rotateX(180deg);
    transition: .4s all;
}

.topMenu__submenu {
    background: rgba(0, 0, 0, .56);
    list-style-type: none;
    position: absolute;
    top: calc(100% + 17px);
    left: 0;
    min-width: 250px;
    text-align: center;
    display: none;
    opacity: 0;
    transition: .4s opacity ease;
}

.topMenu__submenu::before {
    content: "";
    background: transparent;
    z-index: 0;
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 30px;
}

.topMenu__submenu:hover {
    display: block;
    opacity: 1;
}

.topMenu__submenu__item {
    padding: 12px 0;
}

.topMenu__submenu__link {
    font-size: 13px;
    transition: .3s all;
}

.topMenu__link:hover .topMenu__submenu {
    display: block;
    opacity: 1;
}

.topMenu__link:hover .dropdownMenuIcon {
    transform: none;
}

.topMenu__submenu__link:hover {
    color: var(--gold) !important;
}

/* Landing page */
.heroCarousel__header {
    font-size: 64px;
    margin-bottom: 25px;
    margin-top: 12%;
    font-weight: 400;
}

.heroCarousel__subheader {
    font-size: 22px;
    font-weight: 300;
}

.button {
    background: transparent;
    border: 1px solid var(--gold);
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s all;
}

.button--landing {
    height: 100px;
    width: 450px;
    margin-top: 50px;
    font-size: 32px;
    font-weight: 300;
    font-family: 'Cormorant', serif;
}

/* Section header */
.sectionHeader {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin: 30px 0;
    padding-bottom: 14px;
    border-bottom: 1px solid #fff;
    position: relative;
}

.sectionHeader--right {
    text-align: right;
}

.sectionHeader::after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 150px;
    background: var(--gold);
    height: 2px;
}

.sectionHeader--left::after {
    left: 0;
}

.sectionHeader--right::after {
    right: 0;
}

.section {
    width: var(--siteWidth);
    margin: auto;
}

/* About us */
.aboutUs {
    position: relative;
    margin-top: 60px;
}

.absolute {
    position: absolute;
}

.aboutUs__img--1 {
    left: calc((100vw - var(--siteWidth)) / 2 * (-1));
    top: 0;
}

.aboutUs__img--2 {
    right: 0;
    top: 10vh;
}

.aboutUs__content {
    margin-left: clamp(50px, 20%, 340px);
    padding-top: 5vh;
    max-width: 50%;
}

.aboutUs__header {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: 400;
}

.aboutUs__text {
    font-size: 17px;
    margin-bottom: 25px;
}

.button--aboutUs {
    height: 70px;
    width: 400px;
    margin-top: 50px;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Cormorant', serif;
}

/* Technologies */
.section--technologies {
    margin-top: 200px;
    margin-bottom: 300px;
}

.technologies {
    position: relative;
    margin-top: 70px;
}

.img--technologies1 {
    top: 0;
    left: calc((100vw - var(--siteWidth)) / 2 * (-1));
}

.aboutUs__header--technologies {
    max-width: 400px;
    margin-left: clamp(200px, 35%, 700px);
}

.technology--1 {
    margin-left: clamp(200px, 35%, 700px);
    margin-top: 100px;
}

.technology {
    position: relative;
    max-width: 600px;
}

.technology__number {
    font-weight: 700;
    font-family: 'Cormorant', serif;
    font-size: 190px;
    line-height: 50px;
    color: #1E1E1E;
    position: absolute;
    top: 0;
    left: 0;
}

.technology__name {
    font-size: 48px;
    padding-top: 15px;
    margin-left: 50px;
    position: relative;
    z-index: 2;
}

.technology__desc {
    margin-top: 30px;
    margin-left: 50px;
    position: relative;
    z-index: 2;
}

.button--technology {
    height: 70px;
    width: 350px;
    margin-top: 40px;
    margin-left: 50px;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Cormorant', serif;
}

.img--technologies2 {
    right: 0;
    top: 700px;
}

.img--technologies3 {
    left: 10%;
    top: 1200px;
}

.technology--2 {
    margin-left: 20%;
    margin-top: 300px;
}

.technology--3 {
    margin-left: 60%;
    margin-top: 300px;
}

/* Creation process */
.creationProcess {
    margin: 50px 0;
}

.creationProcess__desc {
    text-align: center;
    max-width: 900px;
    margin: 15px auto;
}

.button--process {
    height: 80px;
    width: 420px;
    text-align: center;
    margin: 40px auto 20px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Cormorant', serif;
}

/* Portfolio */
.portfolioSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.portfolioItem {
    width: 30%;
    height: auto;
}

.portfolioItem__img {
    width: 100%;
    height: auto;
}

/* Contact */
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}

.contact__map {
    width: 55%;
    height: 400px;
}

.contact__content {
    width: 40%;
}

.contact__header {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 30px;
}

.contact__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.contact__item__icon {
    width: 30px;
    height: auto;
    margin-right: 20px;
}

.contact__item__text {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#googleMap > div {
    position: relative !important;
}
